<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="favorites">
      <ion-icon name="apps"></ion-icon>
      <ion-label>علاقه مندیها</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="send"></ion-icon>
      <ion-label>جستجو</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="newads">
      <ion-icon name="send"></ion-icon>
      <ion-label>جدیدترینها</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offers">
      <ion-icon name="send"></ion-icon>
      <ion-label>تخفیف دارها</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="send"></ion-icon>
      <ion-label>پروفایل</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>